
VITE_SUPABASE_URL=https://hwnpzgmgfqmpxvpuoida.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3bnB6Z21nZnFtcHh2cHVvaWRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNTgwMDMsImV4cCI6MjA5ODkzNDAwM30.bvzreCS9fFYA41GSaG6LNieDjTZEZu-gfzhe2mLvjds

VITE_ADMIN_USERNAME=Hamza@Admin
VITE_ADMIN_PASSWORD=9819043481Hk?
